{
  "presets": [
    ["@babel/preset-env", {
      "bugfixes": true,
      "modules": "auto"
    }],
    ["@babel/preset-react", {
      "runtime": "automatic"
    }],
    "@babel/preset-typescript"
  ]
}
